name: Build Flipper Zero FAP (manual)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y git python3 python3-pip cmake ninja-build gcc-arm-none-eabi

    - name: Clone Flipper Zero firmware
      run: |
        git clone https://github.com/flipperdevices/flipperzero-firmware.git

    - name: Copy app into firmware
      run: |
        mkdir -p flipperzero-firmware/applications_user/ble_spam
        cp application.* flipperzero-firmware/applications_user/ble_spam


    - name: Build FAP
      run: |
        cd flipperzero-firmware
        ./fbt fap_ble_spam

    - name: Upload FAP
      uses: actions/upload-artifact@v4
      with:
        name: hello_flipper-fap
        path: flipperzero-firmware/build/f7-firmware-D/.extapps/ble_spam.fap
